.svn/
.vim-force.com/
src/classes/ForgotPasswordController.cls
src/classes/ForgotPasswordController.cls-meta.xml
src/classes/SiteLoginController.cls
src/classes/SiteLoginController.cls-meta.xml
src/classes/SiteRegisterController.cls
src/classes/SiteRegisterController.cls-meta.xml
src/classes/FieldReference.cls
src/classes/FieldReference.cls-meta.xml
src/classes/FieldReferenceTest.cls
src/classes/FieldReferenceTest.cls-meta.xml
src/components/
src/labels/
src/pages/
src/staticresources/

*.swp
